@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  font: inherit;
}